@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
* { font-family: 'Open Sans', sans-serif;  font-family: 'Roboto', sans-serif; }
/*common*/
ul { overflow: hidden; }
a,a:active, a:visited,a:hover, a:link, a:focus {text-decoration:none; color:#000; }
.dw_1200px { width: 100%; margin: 0 auto; max-width: 1200px; text-align: center; }
.dw_100p { width: 100%; max-width: 0 auto; }
.t_center { text-align: center; }
.t_left { text-align: left; }    
.t_right { text-align: right; }
.cursor { cursor: pointer; }
.g_color { color: #777; }
.aaa_color { color: #aaa; }
.fs_22px { font-size: 22px; }
.mb3 { margin-bottom: 3%; }
.mb5 { margin-bottom: 5%; }
.fw_600 { font-weight: 600;}
/*menu click background-color call*/
.M_bg { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3); z-index: 11; }

/*header*/
.wrap header .hd_top {border-bottom: 1px solid #e9e9e9; }
.wrap header .hd_top ul li { float: right; border-left: 1px solid #e9e9e9; }
.wrap header .hd_top ul li a {display: inline-block; padding: 0 10px; color: #646464; line-height: 35px; font-size: 13px; }
.wrap header .hd_top ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_top ul { width: 1200px; margin: 0 auto; }

.wrap header .hd_middle { padding: 10px 0; height: 150px; max-height:140px; position: relative;  }
.wrap header .hd_middle #M_logo { display: none; } 
.wrap header .hd_middle .logo { float: left; margin-top: 3%;}
.wrap header .hd_middle::after { content: ''; display: block; overflow: hidden; clear: both; }

.wrap header .hd_middle .slide_btn { position: absolute; right: 0; bottom: 0; }
.wrap header .header_slide { width: 200px; height: 125px; position: absolute; right: 0;   }
.wrap header .hd_middle .formArea { position: absolute; top: 55px; left: 32%; }
.wrap header .hd_middle .formArea #sch_str {
    width: 370px;
    height: 40px;
    float: left;
    background-color: #fff;
    border: 2px solid #2a963e;
    border-right: transparent;
    padding-left: 10px;
}
.wrap header .hd_middle .formArea #sch_submit {
    height: 40px;
    border: 0;
    background-color: #fff;
    border: 2px solid #2a963e;
    border-left: transparent;
    color: #2a963e;
    width: 50px;
    float: left;
    cursor: pointer;
    
}
.wrap header .hd_middle .formArea::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_middle .formArea #sch_submit span { display: none; }
.wrap header .hd_middle .menu_slide .slide_btn a img { border: 1px solid #ddd; padding: 5px; }
.wrap header .hd_middle .menu_slide .sub_slide { margin-top: 15px; }

.wrap header .hd_bottom { background-color: #e5e5e5; position: relative; } 
.wrap header .hd_bottom .hdb_menu div .f_color { color: #ec6d86;}
.wrap header .hd_bottom .menu_btn 
{ background-color:#c51315; color:#fff; width:50px; height:40px; border:0; vertical-align:top; font-size:18px; }
.wrap header .hd_bottom .hdb_menu div { float: left; }
.wrap header .hd_bottom .hdb_menu::after{ content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide { width: 95%; margin-left: 10px; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide .hm_slide { line-height: 41px; font-size: 15px; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide .m_width { width: 75px !important;  }

/*header_left menu 로그인 전 화면 적용*/
.wrap .hd_wrap { position: fixed;  width: 100%; height: 100%; top: 0; z-index: 2000;  display: none; }
.wrap .hd_wrap {
    width: 260px;
    height: 100%;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    z-index: 2000;
    -webkit-box-shadow: 0 0 5px rgba(55,55,5,0.4);
    -moz-box-shadow: 0 0 5px rgba(55,55,5,0.4);
    box-shadow: 0 0 5px rgba(55,55,5,0.4);
} 
.wrap .hd_left .hdl_login {
    position: relative;
    margin: 0 0 10px;
    padding: 10px 0;
}
.wrap .hd_left .hdl_close { position: absolute; top: 0; background-color: #000; padding: 10px 15px; left: 100%;}
.wrap .hd_left .hdl_close i { color: white; font-size: 20px; }
.hdl_lwrap form fieldset input { width: 100%; height: 30px; border: 1px solid #ddd; }
.hdl_lwrap form fieldset input:first-child { margin-bottom: 10px; }
#al_wrap { text-align: left; color: #777; position: relative; }
#al_wrap input { width: 15px; margin-right: 5%; }
#al_wrap label { font-size: 12px; position: absolute; top: 27%; }
#ol_submit { width: 100%; height: 40px; background-color: #333; font-size: 14px; color: white; }
.hdl_tab ul li { float: left; font-size: 12px; margin-right: 20px; }
.hdl_tab ul { border-bottom: 1px solid #c8c8c8; }
.hdl_tab ul li:last-child { margin-right: 0; }
.hdl_tab ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.hdl_tab ul li:hover { color: #000; }
.hdl_tab a { display: block; padding: 10px 0; }
.f_active { font-weight: 900; border-bottom: 1px solid rgb(51, 51, 51); }
.tabcontent { display: none; }
.tab_active { display: block; }
/* .gray_active { color: gray; } 폰트컬러 바꾸기*/
.tabcontent { width: 100%; margin: 0 auto; text-align: left; }
.tabcontent ul li { font-size: 12px; border-bottom: 1px solid #ddd; padding: 15px 0; }
.hdl_twrap { width: 100%; margin: 0 auto; max-width: 210px; text-align: center; } 
input::placeholder { font-size: 80%; padding-left: 5px; }


/*aside fixed top,bottom btn*/
.wrap .side_menu { position: fixed; top: 50%; right: 0; z-index: 100; }
.wrap .side_menu .sm_wrap .top_btn,.wrap .side_menu .sm_wrap .bottom_btn 
{ width: 40px; height: 40px; background-color: #fff; border: 1px solid #cdcdcd; border-right: 0; text-align: center; font-size: 20px; }
.wrap .side_menu .sm_wrap .bottom_btn a i { position: absolute; left: 37%; bottom: 11px;}
.wrap .side_menu .sm_wrap .top_btn a i { position: absolute; top: 11px; left: 37%; }

/*로그인 후 적용*/
.after_login { width: 100%; overflow: hidden; }
.after_login .al_top .alt_right { float: left; }
.after_login .al_top::after { content: " "; display: block; overflow: hidden; clear: both; }
.after_login .al_top .alt_right img { border-radius: 30px; position: relative; }
.after_login .al_top .alt_right a 
{ display: inline-block; padding:11px; position: absolute; top: 35px; left:25px; }
.after_login .al_top .alt_right a i { background-color: white; border-radius: 40px; padding: 7px; }

.after_login .al_top .alt_left { position: absolute; top: 15%; left: 31%; }
.after_login .al_top .alt_left p { font-size: 13px; font-weight: 600; margin-bottom: 9%; }
.after_login .al_top .alt_left button {
    background-color: white;
    font-size: 13px;
    border: 1px solid #ddd;
    color: rgb(153, 153, 153);
    padding: 5px;
    font-weight: 600;
}

.after_login .al_bottom .alb_right,.after_login .al_bottom .alb_left 
{ float: left;width: 50%; margin-top: 10%; background-color: #e4e4e4; padding: 10px; border-bottom: 1px solid #bfbfbf; }
.after_login .al_bottom::after { content: " "; display: block; overflow: hidden; clear: both; } 
.after_login .al_bottom .alb_right { border-right: 1px solid #bfbfbf; }

/* 메인베너 슬라이드 */
.main_slide { position: relative; }
.main_slide button { border-radius: 100px;color: transparent; background-color: red; border: none; width: 15px; } 
.fa-chevron-left,.fa-chevron-right { position: absolute; margin-left: 40px; z-index: 10; top: 50%; transform: translateY(-50%); font-size: 70px; color: white; }
.fa-chevron-right { right: 0; margin-right: 40px;  }
.slick-dots li button {
    border: 0;
    display: block;
    height: 12px;
    width: 12px;
    outline: none;
    line-height: 0;
    font-size: 0;
    padding: 5px;
    cursor: pointer;
    background-color: #d1d1d1;
    border-radius: 23px;
}
.slick-dots { position: absolute; bottom: 10px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 17px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button:hover { background-color: #9c9c9c; }
.main_slide div img { width: 100%; height: auto; }
.main_slide .slick-dots .slick-active button { background-color: #9c9c9c; }

/* 서브 메뉴 슬라이드 */
.ct_menu { overflow: hidden; margin-top: 3%; margin-bottom: 5%;  }
.ct_menu .ctm_wrap { width: 1200px; margin: 0 auto; }
.ctm_slide img:nth-child(2) { display: none; }
.ctm_slide { width: 150px; border: 1px solid #a4a4a4; float: left; padding-bottom: 10px; }
.ctm_slide:not(:last-child) { border-right: 0; }
.ct_menu .ctm_wrap::after { content: ''; display: block; overflow: hidden; clear: both; }
.ctm_slide img { width: 50px; height: 50px; display: block; margin: 5px auto 10px auto; }
.ctm_slide span { font-size: 13px; }
.ctm_slide:hover { background-color:#ec6d88; color: #ffffff; }

/* 호버했을 때 화이트이미지가 나와야함 */
.ctm_slide:hover img:first-child { display: none; }
.ctm_slide:hover img:nth-child(2) { display: block;}

/*contents product*/
.contents .ct_inner { margin-bottom: 4%; }
.contents .ct_inner .product_wrap .title_text h2 { font-size: 26px; text-align: left; }
.contents .ct_inner .product_wrap .title_text { border-bottom: 1px solid #333; padding-bottom: 15px; margin-bottom: 4%; }
.contents .ct_inner .product_wrap .product_box .pbl_img a { border: none; }
.contents .ct_inner .product_wrap .product_box li { margin-bottom: 3%; }
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_subject a, 
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_point {color: #4d4d4d;font-size: 14px;}
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_subject { margin-bottom: 7%; }
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_cost { margin-bottom: 5%; }

/* footer PC버전 (768이상부터만 적용됩니다.) */
.wrap footer { overflow: hidden; background-color: #f8f8f8; padding-bottom: 3%; }
.wrap footer .ft_wrap .ft_top { width: 100%; margin: 20px auto; border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.wrap footer .ft_wrap .ft_top div .pr0 { padding-right: 0; }
.wrap footer .ft_wrap .ft_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_wrap .ft_top .ft_slide::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_wrap .ft_top .ft_slide > div { float: left; padding-right: 2%; }
.wrap footer .ft_wrap .ft_top .ft_slide > div:first-child { margin-left: 4%; }
.wrap footer .ft_wrap .ft_top .ft_slide a { color: #555; font-size: 13px; }

.wrap footer .ft_middle { margin-top: 3%; }
.wrap footer .ft_middle .ft_left { float: left; margin-right: 10px; }

/*모바일 버전 푸터 로고*/
.wrap footer .ft_middle .ft_left #M_ftlogo { display: none; }
.wrap footer .ft_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_center { float:left; padding-top: 1%; }
.wrap footer .ft_center ul li:not(.ft_bottom) { font-size: 14px; color: #777; margin-bottom: 1%; }
.wrap footer .ft_middle .ft_right { float: right; }
.wrap footer .ft_middle .ft_right ul li { margin-top: 2%; }
.wrap footer .ft_center .ft_bottom { margin-top: 3%; font-size: 13px; }
.wrap footer .ft_middle .ft_right ul li:first-child,.wrap footer .ft_middle .ft_right ul li:nth-child(2) { margin-bottom: 8%; }
.wrap footer .ft_middle .ft_right ul li:nth-child(3),.wrap footer .ft_middle .ft_right ul li:last-child { margin-bottom: 6%; font-size: 13px; }
.wrap footer .ft_wrap .ft_botmenu { display: none; }
.ft_mobile_menu { display: none; }

/*media*/
@media (max-width:1220px) {
.dw_1200px { width: 90%; }
.wrap header .hd_top ul { width: 90%; }
.wrap header .hd_top ul li a { font-size: 12px; }
.wrap header .hd_middle { width: 95%; }
.wrap header .hd_middle .menu_slide .sub_slide { width: 70%; margin-top: 10%; }
.wrap header .hd_middle .slide_btn { bottom: 10%; }
.wrap header .hd_middle { height: 125px; max-height: 130px; }

.wrap header .hd_middle .logo { margin-top: 39px; }
.wrap header .hd_middle .logo #PC_logo { width: 75%; }
.wrap header .hd_middle .formArea #sch_str { width: 200px; height: 30px; font-size: 13px; padding-left: 0; margin-left: 0; padding-bottom: 5px;}
.wrap header .hd_middle .formArea #sch_submit { width: 40px; height: 30px; }

.wrap footer .ft_center { width: 50%; word-break: keep-all; }
.wrap footer .ft_middle .ft_right { width: 20%; word-break: keep-all; }
.wrap footer .ft_middle .ft_right ul li:first-child, .wrap footer .ft_middle .ft_right ul li:nth-child(2) { margin-bottom: 5%; }
.fs_22px { font-size: 17px; }
.wrap footer .ft_center ul li:not(.ft_bottom) { font-size: 12px; }
.wrap footer .ft_middle .ft_left #PC_ftlogo { width: 95%; }

}

@media (max-width:768px) {
.wrap header .header_slide { display: none; }
.wrap header {height: 80px;min-height: 70px;}    
.wrap header .hd_top { border-bottom: none; }
.wrap header .hd_top ul { display: none; } 

.wrap header .hd_middle .slide_btn { display: none; }
.wrap header .hd_middle { height: 80px; }

.wrap header .hd_middle .logo {position: absolute;top: 15%;left: 10%; margin-top: 0;}
.wrap header .hd_middle .logo #PC_logo { display: none; }
.wrap header .hd_middle .logo #M_logo { display: block; }

.wrap header .hd_bottom { background-color: transparent; }
.wrap header .hd_bottom .menu_btn {background-color: transparent;color: #000;position: absolute;left: 0;bottom: 18px;z-index: 10;}

.wrap header .hd_middle .formArea { top: 40%; left: 35%; width:60%; }
.wrap header .hd_middle .formArea #sch_str 
{ padding-left: 0; border: 1px solid #cecece; border-right-color: transparent; width:80%; border-right: none; padding-left: 5px;  }
.wrap header .hd_middle .formArea #sch_submit 
{ border: 1px solid #cecece; border-left-color: transparent; color: rgb(111, 111, 111); border-left: none;  }


.contents .ct_inner .product_wrap .title_text h2 { font-size: 20px; }

.wrap footer .ft_middle .ft_left #PC_ftlogo { display: none; }
.wrap footer .ft_middle .ft_left #M_ftlogo { display: block; padding: 3% 0; }
.wrap footer .ft_middle .ft_right { display: none; }
.wrap footer .ft_middle { margin-top: 0; padding: 10% 0; }



/* footer 모바일 버전일 때 추가된 html의 css입니다. */
.wrap footer .ft_wrap .ft_middle .ft_mobile_menu a { background-color: white; border: 1px solid #ddd; padding: 5px 15px; font-size: 13px; }
.wrap footer .ft_middle .ft_left { float: none; }


.wrap footer .ft_middle .ft_left { float: none; width:70%; margin:0 auto; }
.wrap footer .ft_middle .ft_left img { width:100%; }

.wrap footer .ft_center { text-align: center; float: none; width: 100%; }
.wrap footer .ft_center ul li { font-size: 12px; }
.wrap footer .ft_center ul li strong { font-weight: 600; }
.wrap footer .ft_center .ft_bottom { margin-top: 0; }

/* 모바일 버전일 때 추가된 하단 메뉴 html의 css입니다. */
.ft_mobile_menu { display: block; }
.wrap footer .ft_wrap .ft_botmenu { display: block; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #eee; border-top: 1px solid #ddd; }
.wrap footer .ft_wrap .ft_botmenu ul li { float: left; width: 20%; text-align: center; }
.wrap footer .ft_wrap .ft_botmenu ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_wrap .ft_botmenu ul li a { display: block; padding: 10px 0 15px 0; font-size: 20px; color: #555; }



}

@media (max-width:500px) {
.wrap header .hd_middle .logo { top: 26%; }
.wrap header .hd_middle .logo #M_logo { width: 75%; }

.fa-chevron-left, .fa-chevron-right { font-size: 40px; }
.slick-dots li { width: 9px; height: 11px; }
.slick-dots li button { width: 7px; height: 7px; padding: 4px; }

.contents .ct_inner .product_wrap .title_text h2 { font-size: 16px; font-weight: 600; }
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_cost { font-size: 12px; }
.wrap footer .ft_wrap .ft_middle .ft_mobile_menu a { font-size: 11px; }
}

@media (max-width:400px) {
.wrap header .hd_middle .logo { left: 13%; }
.wrap header .hd_middle .formArea #sch_str { width: 155px; }
.wrap header .hd_middle .formArea { width: 65%; }
.wrap footer .ft_center ul li { font-size: 11px; }



}