* { font-family: 'Open Sans', sans-serif;  font-family: 'Roboto', sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/*header*/
.wrap header .hd_top {border-bottom: 1px solid #e9e9e9; }
.wrap header .hd_top ul li { float: right; border-left: 1px solid #e9e9e9; }
.wrap header .hd_top ul li a { display: inline-block; padding: 0 10px; color: #646464; line-height: 35px; font-size: 13px; }
.wrap header .hd_top ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_top ul { width: 1200px; margin: 0 auto; }

.wrap header .hd_middle { padding: 10px 0; height: 140px; position: relative;  }
.wrap header .hd_middle #M_logo { display: none; } 
.wrap header .hd_middle .logo { float: left; margin-top: 3%;}
.wrap header .hd_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_middle .slide_btn { position: absolute; right: 0; bottom: 0; }
.wrap header .hd_middle .menu_slide .header_slide { width: 200px; height: 125px; position: absolute; right: 0;   }
.wrap header .hd_middle .formArea { position: absolute; top: 55px; left: 32%; }
.wrap header .hd_middle .formArea #sch_str { width: 370px; height: 40px; float: left; background-color: #fff; border: 2px solid #2a963e; border-right: transparent; padding-left: 10px; } 
.wrap header .hd_middle .formArea #sch_submit { width: 50px; height: 40px; float: left; border: 0; background-color: #fff; border: 2px solid #2a963e; border-left: transparent; color: #2a963e; }
.wrap header .hd_middle .formArea::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_middle .formArea #sch_submit span { display: none; }
.wrap header .hd_middle .menu_slide .slide_btn a img { border: 1px solid #ddd; padding: 5px; }
.wrap header .hd_middle .menu_slide .sub_slide { margin-top: 15px; }

.wrap header .hd_bottom { background-color: #e5e5e5; position: relative; } 
.wrap header .hd_bottom .hdb_menu .tmenu_slide a.recover_color { color: #ec6d86; }
.wrap header .hd_bottom .menu_btn 
{ background-color:#c51315; color:#fff; width: 50px; height: 40px; border: 0; font-size: 18px; }
.wrap header .hd_bottom .hdb_menu div { float: left; }
.wrap header .hd_bottom .hdb_menu::after{ content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide { width: 90%; margin-left: 20px; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide .hm_slide { line-height: 41px; font-size: 15px; padding-right: 25px; }

/*header_left menu(aside menu) 로그인 전 화면 적용*/
.wrap aside .hd_wrap { position: fixed;  width: 100%; height: 100%; top: 0; z-index: 2000;  display: none; }
.wrap aside .hd_wrap {
    width: 260px;
    height: 100%;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    z-index: 2000;
    -webkit-box-shadow: 0 0 5px rgba(55,55,5,0.4);
    -moz-box-shadow: 0 0 5px rgba(55,55,5,0.4);
    box-shadow: 0 0 5px rgba(55,55,5,0.4);
} 
.wrap aside.hd_left { position: absolute; top: 0; height: 100%; }
.wrap aside.hd_left .hdl_login { position: relative; margin: 0 0 10px; padding: 10px 0; }
.wrap aside.hd_left .hdl_close { position: absolute; top: 0; z-index: 11; left: 260px; background-color: black; padding: 10px 15px; display:none; }
.wrap aside.hd_left .hdl_close i { color: white; font-size: 20px; }
.wrap aside .hdl_lwrap form fieldset input { width: 100%; height: 30px; border: 1px solid #ddd; }
.wrap aside .hdl_lwrap form fieldset input:first-child { margin-bottom: 10px; padding: 0; }

.wrap aside .hdl_login fieldset #al_wrap { color: #777; position: relative; }
.wrap aside .hdl_login fieldset #al_wrap input { width: 15px; margin-right: 5px; }
.wrap aside .hdl_login fieldset #al_wrap label { font-size: 12px; position: absolute; top: 27%; }
.wrap aside .hdl_login fieldset #al_wrap #ol_submit { width: 100%; height: 40px; background-color: #333; font-size: 14px; color: white; }

.wrap aside .hdl_twrap .hdl_tab ul li { float: left; font-size: 12px; margin-right: 12%; }
.wrap aside .hdl_twrap .hdl_tab ul { border-bottom: 1px solid #c8c8c8; }
.wrap aside .hdl_twrap .hdl_tab ul li:last-child { margin-right: 0; }
.wrap aside .hdl_twrap .hdl_tab ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap aside .hdl_twrap .hdl_tab ul li:hover { color: #333;  }
.wrap aside .hdl_twrap { width: 100%; margin: 0 auto; max-width: 210px; text-align: center; }
.wrap aside .hdl_twrap .hdl_tab a { display: block; padding: 10px 0; }
.wrap aside .hdl_twrap .tabcontent { width: 100%; margin: 0 auto; text-align: left; display: none; }
.wrap aside .hdl_twrap .tabcontent ul li { font-size: 12px; border-bottom: 1px solid #ddd; padding: 15px 0; }
.wrap aside .hdl_twrap .tabcontent ul li a:hover { color: #ec6d86; }
.f_active { font-weight: 900; border-bottom: 1px solid rgb(51, 51, 51); }
.tab_active { display: block; }

/*header_left menu 로그인 후 화면적용*/
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login { width: 100%; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_right { float: left; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top::after { content: " "; display: block; overflow: hidden; clear: both; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_right img { border-radius: 30px; position: relative; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_right a { display: inline-block; padding: 11px; position: absolute; top: 35px; left: 25px; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_right a i { background-color: white; border-radius: 40px; padding: 7px; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_left { position: absolute; top: 15%; left: 31%; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_left p { font-size: 13px; font-weight: 600; margin-bottom: 9%; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_top .alt_left button { background-color: white; font-size: 13px; border: 1px solid #ddd; color: rgb(153, 153, 153); padding: 5px; font-weight: 600; }
aside.hd_left .hd_wrap .hdl_login .hdl_lwrap .login_form .after_login .al_bottom .alb_right,
.after_login .al_bottom .alb_left { float: left;width: 50%; margin-top: 10%; background-color: #e4e4e4; padding: 10px; border-bottom: 1px solid #bfbfbf; }
.after_login .al_bottom::after { content: " "; display: block; overflow: hidden; clear: both; } 
.after_login .al_bottom .alb_right { border-right: 1px solid #bfbfbf; }
.wrap .side_menu { position: fixed; top: 50%; right: 0; z-index: 100; }
.wrap .side_menu .sm_wrap .top_btn,.wrap .side_menu .sm_wrap .bottom_btn { width: 40px; height: 40px; background-color: #fff; border: 1px solid #cdcdcd; border-right: 0; font-size: 20px; }
.wrap .side_menu .sm_wrap .bottom_btn a i { position: absolute; left: 37%; bottom: 11px;}
.wrap .side_menu .sm_wrap .top_btn a i { position: absolute; top: 11px; left: 37%; }

/* main banner slide */
.main_slide { position: relative; }
.main_slide button { border-radius: 100px;color: transparent; background-color: red; border: none; width: 15px; } 
.fa-chevron-left,.fa-chevron-right { position: absolute; margin-left: 40px; z-index: 10; top: 50%; transform: translateY(-50%); font-size: 70px; color: white; }
.fa-chevron-right { right: 0; margin-right: 40px;  }
.slick-dots li button {
    border: 0;
    display: block;
    height: 12px;
    width: 12px;
    outline: none;
    line-height: 0;
    font-size: 0;
    padding: 5px;
    cursor: pointer;
    background-color: #d1d1d1;
    border-radius: 23px;
}
.slick-dots { position: absolute; bottom: 10px; width: 100%; list-style: none; display: block; text-align: center; padding: 0;  }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 17px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button:hover,.main_slide .slick-dots .slick-active button { background-color: #9c9c9c; }
.main_slide div img { width: 100%; height: auto; }

/* contents slide menu */
.contents .ct_menu { overflow: hidden; margin-top: 3%; margin-bottom: 5%;  }
.contents .ct_menu .ctm_wrap { width: 1200px; margin: 0 auto; }
.contents .ctm_slide img:nth-child(2) { display: none; }
.contents .ctm_slide { width: 150px; border: 1px solid #a4a4a4; float: left; padding-bottom: 10px; }
.contents .ctm_slide:not(:last-child) { border-right: 0; }
.contents .ct_menu .ctm_wrap::after { content: ''; display: block; overflow: hidden; clear: both; }
.contents .ctm_slide img { width: 50px; height: 50px; display: block; margin: 5px auto 10px auto; }
.contents .ctm_slide span { font-size: 13px; }
.contents .ctm_slide:hover { background-color:#ec6d88; color: #ffffff; }
.contents .ctm_slide:hover img:first-child { display: none; }
.contents .ctm_slide:hover img:nth-child(2) { display: block;}

/*contents product*/
.contents .ct_inner { margin-bottom: 4%; }
.contents .ct_inner .product_wrap .title_text h2 { font-size: 26px; text-align: left; }
.contents .ct_inner .product_wrap .title_text { border-bottom: 1px solid #333; padding-bottom: 15px; margin-bottom: 4%; }
.contents .ct_inner .product_wrap .product_box .pbl_img a { border: none; }
.contents .ct_inner .product_wrap .product_box .pbl_img img { width:100%; object-fit: scale-down; }
.contents .ct_inner .product_wrap .product_box li { margin-bottom: 3%; }
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_subject a, 
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_point { color: #4d4d4d;font-size: 14px; }
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_subject { margin-bottom: 7%; white-space:nowrap; overflow : hidden; text-overflow : ellipsis; padding-bottom: 5px; }

/* footer PC버전 (768이상부터만 적용됩니다.) */
.wrap footer { background-color: #f8f8f8; padding-bottom: 3%; }
.wrap footer .ft_wrap .ft_top { width: 100%; margin: 20px auto; border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.wrap footer .ft_wrap .ft_top div .pr0 { padding-right: 0; }
.wrap footer .ft_wrap .ft_top::after,.wrap footer .ft_wrap .ft_top .ft_slide::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_wrap .ft_top .ft_slide > div { float: left; padding-right: 2%; }
.wrap footer .ft_wrap .ft_top .ft_slide > div:first-child { margin-left: 4%; }
.wrap footer .ft_wrap .ft_top .ft_slide a { color: #555; font-size: 13px; }
.wrap footer .ft_middle { margin-top: 3%; }
.wrap footer .ft_middle .ft_left { float: left; margin-right: 10px; }

/* footer 모바일 버전*/
.wrap footer .ft_wrap .ft_botmenu,.ft_mobile_menu,.wrap footer .ft_middle .ft_left #M_ftlogo { display: none; }
.wrap footer .ft_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_center { float: left; padding-top: 1%; }
.wrap footer .ft_center ul li:not(.ft_bottom) { font-size: 14px; color: #777; margin-bottom: 1%; }
.wrap footer .ft_middle .ft_right { float: right; }
.wrap footer .ft_middle .ft_right ul li { margin-top: 2%; }
.wrap footer .ft_center .ft_bottom { margin-top: 3%; font-size: 13px; }
.wrap footer .ft_middle .ft_right ul li:first-child,.wrap footer .ft_middle .ft_right ul li:nth-child(2) { margin-bottom: 8%; }
.wrap footer .ft_middle .ft_right ul li:nth-child(3),.wrap footer .ft_middle .ft_right ul li:last-child { margin-bottom: 6%; font-size: 13px; }

/*board > info_list */        
.wrap .contents .info_list { margin-top: 3%; margin-bottom: 10%; }
.wrap .contents .info_list i { margin-left: 1%; }
.wrap .contents .info_list > div { width: 100%; margin: 0 auto; padding-top: 2%; }
.wrap .contents .info_list .i_top ul { width: 35%; margin: 0 auto; }
.wrap .contents .info_list .i_top ul li { float: left; width: 50%; text-align: center; font-size: 20px; }
.wrap .contents .info_list table { width: 100%; text-align: center; word-break: keep-all; font-size: 16px; color: #1c1c1c; }
.wrap .contents .info_list table th { font-size: 13px; color: #000; }
.wrap .contents .info_list tr > th { border-bottom: 1px solid #dddddd; border-top: 2px solid #4e575e; }
.wrap .contents .info_list table th, td { padding: 7px; color:#333; }
.wrap .contents .info_list .bg_g { background-color: #f6f7fc; }
.bg_g td, .bg_w td { border-bottom: 1px solid #dddddd;  }
.txt_l i ,.bg_w td i { color: #585757; }


/*board common btn*/
.wrap .contents .i_btn { text-align: right; margin-top: 10px; }
.wrap .contents .i_btn a { background-color: #989898; color: white; font-size: 14px; padding: 10px; display: inline-block; }
.wrap .contents .i_btn a i { margin-right: 5px; }

/* board > info_view */
.wrap .contents .title_top h2 { font-size: 20px; font-weight: 600; margin: 2% 0; }
.wrap .contents .title_top h2 strong { font-weight: 900; color: #000; }
.wrap .contents .title_top .title_middle { margin-bottom: 5%; border-bottom: 1px solid #ddd; }
.wrap .contents .title_top .title_middle div:first-child { float: left; font-weight: 600; }
.wrap .contents .title_top .title_middle div:first-child strong { font-size: 13px; color: #000; }
.wrap .contents .title_top .title_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .contents .title_top .title_middle div:last-child { float: right; color: #888; font-size: 13px; font-style: italic; margin-right: 10px; }
.wrap .contents .title_bottom p { font-size: 13px; word-break: keep-all; }
.wrap .contents .title_bottom p:first-child { margin-bottom: 10px; }

/*board > info_write*/
.wrap .contents .write_wrap { margin: 3% 0; }
.wrap .contents .write_wrap .i_write .iw_txt { border-bottom: 1px solid #ddd; }
.wrap .contents .write_wrap .i_write .form_info,.iw_table td i { color: red; font-size: 10px; }
.wrap .contents .write_wrap .i_write h2 { font-size: 20px; margin-bottom: 20px; }
.wrap .contents .write_wrap .i_write p { margin-bottom: 10px; }
.wrap .contents .write_wrap .i_write .iw_btn input { border: none; padding: 1%; color: white; }
.wrap .contents .write_wrap .i_write .iw_btn .submit_btn { background-color: #6d6d6d; }
.wrap .contents .write_wrap .i_write .iw_btn .cancel_btn { background-color: #de1515; }
.wrap .contents .write_wrap .iw_table td i { margin-right: 2%; }
.wrap .contents .write_wrap .iw_table { width:100%; border-top: 3px solid #bbb9b9; }
.wrap .contents .write_wrap .iw_table tr { border-bottom: 1px solid #c7c7c7; }
.wrap .contents .write_wrap .iw_table tr .t_color { background-color: #e4e4e4; }
.wrap .contents .write_wrap .iw_table td input,.iw_table td textarea { width: 100%; }
.wrap .contents .write_wrap .iw_table tbody .inqury_td td { vertical-align: middle; }


/*login > login*/
.contents .login_wrap .login_box { width: 415px; margin:0 auto; margin-top: 5%; background-color: white; border: 2px solid #ddd;  }
.contents .login_wrap .login_box .logbox_top { padding-top: 10%; padding-bottom: 5%; }
.contents .login_wrap .login_box .logbox_top h2 { color: #777; }
.contents .login_wrap .login_box .logbox_middle { padding: 0 40px 15px 40px; }
.contents .login_wrap .login_box .logbox_middle .lbm_box { width:100%; overflow: hidden; padding-top: 15px; }
.contents .login_wrap .login_box .logbox_middle .lbm_box div { float:left; }
.contents .login_wrap .login_box .logbox_middle .lbmb_bottom { padding-top: 5px; }
.contents .login_wrap .login_box .logbox_middle .lbmb_bottom .lbmb_check { margin: 20px 0; }
.contents .login_wrap .login_box .logbox_middle .lbm_box .lbmb_ibox { width: 100%; margin-bottom: 2%; }
.contents .login_wrap .login_box .logbox_btn { width: 80%; margin: 0 auto; }
.contents .login_wrap .login_box .logbox_btn input[type=submit] { width: 100%; font-weight: 600; padding: 4%; background-color: #d50c0c; color: white; }
.contents .login_wrap .login_box .logbox_middle .lbm_box .lbmb_ibox .lbmb_input { width: 100%; padding: 3%; border: 1px solid #b3b3b3; }

.lbmb_check { text-align: center; margin: 20px 0; padding-bottom: 10%; }
.lbmb_check input { margin-right: 10px; }
.contents .login_wrap .login_box .logbox_btn:hover { color: antiquewhite; }
.contents .login_wrap .login_box .logbox_bottom .lbmb_footer ul li { float: left; width: 50%; }
.contents .login_wrap .login_box .logbox_bottom .lbmb_footer ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.contents .login_wrap .login_box .logbox_bottom .lbmb_footer { background-color: #f0f0f0; line-height: 60px; }
.contents .login_wrap .login_box .logbox_bottom .lbmb_footer ul .lbmbf_left { border-right: 1px solid #d9d9d9; }
.contents .login_wrap .login_box .logbox_bottom .lbmb_footer ul li input[type="button"] { border: none; }

/*content*/
.content_top div { padding-top: 3%; }
.content .c_middle img { width: 100%; }

/*order > order(주문서작성)*/
#order_form { overflow: hidden; background-color: #fafafa; }
.order_contents div { padding-top: 2%; padding-bottom: 1%; }
.content .order_box .ob_top { padding: 0; }
.content .order_box .ob_top .obt_subject { padding-top: 4%; }
.content .order_box { padding: 0; }
.content .order_box .obt_list { padding: 0; }

.board_list { width:100%; }
.board_list .bl_top { float:left; width:100%; border-bottom:1px solid #dddddd; border-top: 3px solid #797979; padding: 0; }
.board_list .bl_top div { padding: 1.2% 0; }
.board_list .bl_top .blb_subject { float: left; }

.board_list .bl_list { float:left; width:100%; border-bottom: 2px solid #797979; padding-top: 0; }
.board_list .bl_list div { padding:1% 0; }
.board_list .bl_list .blb_box { float:left; }
.board_list .bl_list .blb_box ul li { float:left; } 
.board_list .bl_list .blb_box ul li:first-child { padding-right:2%; }            
.board_list .bl_list .blb_box ul li img { width: 50%; }

.content .order_box .obm_left { padding: 2%; }
.content .order_box .obm_left .obm_box_subject { border-bottom:1px solid #dddddd; margin-bottom:2%; padding-top: 0; }
.content .order_box .obm_left .obm_i_box { padding: 0; }
.content .order_box .obm_left .obm_i_box div { float:left;}
.content .order_box .obm_left .obm_i_box .obmib_subject { width:15%; font-size:15px; }
.content .order_box .obm_left .obm_i_box .obmib_input { width:85%;}
.content .order_box .obm_left .obm_i_box .obmib_input input[type=text], .obmib_input .zip_btn { float:left; }
.zip_btn { margin-left:2%; padding:1% 2.5%; background-color: #cecece; color:#595959; border: 1px solid #b9b9b9; }
.content .order_box .obm_right { height: 1415px; background-color: #eceff4; box-shadow: inset 7px 0 11px -5px #ced8e5; }
.content .order_box .obm_right .obmr_box { padding:2% 0; margin-bottom:2%; }
.content .order_box .obm_right .obmr_box .obmrb_box { width:100%; background-color: #ffffff; padding:1.5% 1%; border-bottom:1px solid #dddddd;}
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_subject { float:left; font-size: 14px; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_price { float: right; }
.content .order_box .obm_right .obmr_box .obmrb_box .total_price { color: #ff006c; }
.content .order_box .obm_right .obmrs_pay_info, .obmrs_card_info { display:none; }
.content .order_box .obm_right .obmrs_pay_info, .obmrs_card_info div { padding:1% 0; }
.content .order_box .obm_right .obmr_select div { float:left; width:50%; padding: 5%; color:#ffffff; cursor:pointer;}
.content .order_box .obm_right .obmr_select .obmrs_pay { background-color: white; color: #777; border-right: 1px solid #ddd; padding: 10px; font-size: 14px;   }
.content .order_box .obm_right .obmr_select .obmrs_card { background-color: white; color: #777; padding: 10px; font-size: 14px; }
.content .order_box .obm_right .obmr_btn_box { width:100%; margin-bottom:3%;}
.content .order_box .obm_right .obmr_btn_box input {  width: 100%; padding:3% 0; text-align: center; font-size:20px; font-weight:bold; border:none; color:#ffffff;}
.content .order_box .obm_right .obmr_btn_box input[type=submit] { background-color: red; margin-bottom: 1%; }
.content .order_box .obm_right .obmr_btn_box input[type=button] { -color: white; color: #595959; border: 1px solid #d7d7d7; }
.content .order_box .ob_top .M_order { display: none; }
.obmib_input textarea { width: 98%; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_price input { margin-right: 5px; }

/*order > order_result(주문상세내역)*/
.content .detail_order { border: 1px solid rgb(244, 244, 244); background-color: #fafafa; }
.content .order_box .obt_list { width:100%; }
.board_list { width:100%; }
.board_list .bl_top { float:left; width:100%; border-bottom:1px solid #797979; }
.board_list .bl_top div { padding:1.5% 0;}
.board_list .bl_top .blb_subject { float:left; font-weight:bold; }
.board_list .bl_list { float:left; width:100%; border-bottom:1px solid #dddddd; }
.board_list .bl_list div { padding:1% 0; }
.board_list .bl_list .blb_box { float:left; }
.board_list .bl_list .blb_box ul li { float:left; }
.board_list .bl_list .blb_box ul li:first-child { padding-right:2%; }            
.board_list .bl_list .blb_box ul li img { width: 50%; }

.content .order_box { padding: 4% 0; }
.content .order_box .obm_left .obm_box_subject { border-bottom:1px solid #dddddd; margin-bottom:2%; padding-bottom: 2%; }
.content .order_box .obm_left .obm_i_box { padding: 1.5% 0; }
.content .order_box .obm_left .obm_i_box div { float: left; }
.content .order_box .obm_left .obm_i_box .obmib_subject { width:15%; font-size: 15px;  }
.content .order_box .obm_left .obm_i_box .obmib_input { width:85%; }
.content .order_box .obm_left .obm_i_box .obmib_input input[type=text], .obmib_input .zip_btn { float: left; }
.content .order_box .obm_left .obm_i_box .obmib_input .zip_btn { margin-left:2%; padding:1% 2.5%; background-color: cadetblue; color:#ffffff;}
.content .order_box .result_obm_right { height: 1817px; } 
.content .order_box .obm_right { background-color: #eceff4; box-shadow: inset 7px 0 11px -5px #ced8e5;  }
.content .order_box .obm_right .obmr_box { padding-top: 7%;  margin-bottom:2%; }
.content .order_box .obm_right .obmr_box .obmrb_box { width:100%; background-color: #ffffff; padding: 5% 3%; border-bottom: 1px solid #dddddd; }
.content .order_box .obm_right .obmr_box .order_p0 { padding-top: 5px; padding-bottom: 1%; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_subject { float: left; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_price { float: right; }
.content .order_box .obm_right .obmr_select { width:100%; }
.content .order_box .obm_right .obmr_select div { float:left; width:50%; font-size:20px; font-weight:bold; color:#ffffff; text-align: center; padding:1.5% 0; cursor:pointer; }
.content .order_box .obm_right .obmr_btn_box input { float:left; width:50%; padding:3% 0; text-align: center; font-size:20px; font-weight:bold; border:none; color:#ffffff; }
.content .order_box .ob_top .obt_subject { padding-top: 0; }
.delivery_ex .de_box p { float: left; }
.delivery_ex .de_box::after { content: ''; display: block; overflow: hidden; clear: both; }
.content .order_box .ob_top .result_obt_subject { padding-bottom: 3%; }
.content .order_box .obm_right .obmr_box .bg_color { background-color: #38b2b9; color: white; }
.result_obm_order_box {  background-color: white; padding: 3%; box-shadow: 0 2px 5px #ddd; }
.delivery_ex { display: none; }
.delivery_state_btn { background-color: white; display: inline-block; padding: 0 5px 5px 5px; border: 1px solid #9b9b9b;  margin: 1% 0;  }
.delivery_state_btn a { color: #717070; }
.delivery_ex { background-color: #eae9e9; border: 1px solid #d9d9d9; padding: 1.5% 0; margin-bottom: 5%; }
.delivery_ex .de_box { margin-bottom: 1%; }
.delivery_ex .de_box .deb_txt { margin: 0 1%;  }
.content .order_box .obm_left { background-color: #fafafa; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbbs_f { font-size: 14px; }
.content .order_box .obm_right .order_cancel_btn input[type="submit"] { width: 100%; font-size: 14px; background-color: white; color: red; border: 1px solid red; }
.content .order_box .obm_right .order_cancel_btn input[type="submit"]:hover { background-color: #ff1515; color: #fff; }

/*member > mypage.html*/
.content .member_box {width:100%; min-height: 200px; }
.content .member_box .mb_top, .mb_middle, .mb_bottom { padding:1.5% 0; }
.content .member_box .mb_top { padding-bottom: 0; padding-top: 3%; }
.content .member_box .mb_top ul li { float:right; padding:10px; font-size: 12px; border:1px solid #dddddd; margin-right:1%; }
.content .member_box .mb_top ul li:hover { background-color: #f0f0f0; border: 1px solid rgb(201, 201, 201); }
.content .member_box .mb_middle { width:100%; padding-top: 10px; }
.content .member_box .mb_middle .mbm_top { border:1px solid #dddddd;  }
.content .member_box .mb_middle .mbm_top div { padding: 10px 0; }
.content .member_box .mb_middle .mbm_top .mbmt_right ul li { float:left; padding-right:2%; } 
.content .member_box .mb_middle .mbm_top .mbmt_bottom { display: none; background-color: #f8f8f8; border-top:1px solid #dddddd;  }

.board_box { padding: 2% 0; margin-top: 30px; }
.board_box .board_subject { margin-bottom: 1%; }
.board_list .bl_top { float:left; border-bottom:1px solid #dddddd; }
.board_list .bl_top div { padding:1.5% 0; }
.board_list .bl_top .blb_subject { float:left; font-weight:bold; }
.board_list .bl_list { float:left;  border-bottom:1px solid #dddddd; }
.board_list .bl_list div { padding:1% 0; }
.board_list .bl_list .blb_box { float:left; }
.board_list .bl_list .blb_box ul li { float:left; }
.board_list .bl_list .blb_box ul li:first-child { padding-right:2%; }
.M_board_list { display: none; }
.board_box .board_subject .m_btn img { margin-right: 5px; }
.board_box .board_subject .m_btn a { color: gray; }
.content .member_box .mb_middle .mbm_top .mbmt_left { float: left; width:50%; margin-right: 30px; padding-left: 10px; border-right: 1px solid #ddd; padding-right: 20px; }
.content .member_box .mb_middle .mbm_top::after { content: ''; display: block; overflow: hidden; clear: both; } 
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info .mbmtb_info_div { float: left; width: 45%; margin-right: 20px; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info::after { content: ''; display: block; overflow: hidden; clear: both; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom { padding-left: 1%; }
.caret-up_btn 
{ position: absolute; left: 50%;  background-color: #fff; border: 1px solid #dbdbdb; border-top: none; display: inline-block; width: 45px; padding: 5px; text-align: center; }

/*member > mb_reg_form(회원정보수정)*/
.mb_reg_middle { border: 1px solid #ddd; }
.content .member_box { width:100%; min-height: 200px; }
.content .member_box .mb_top { padding-bottom: 3%; }
.mb_middle { padding-bottom:5%; }
.content .member_box .mbm_mb_reg_box { padding:1.5%; }
.content .member_box .mbm_box_subject { border-bottom:1px solid #dddddd; margin-bottom:2%; padding:2% 0; }
.content .member_box .mbm_i_box { padding:2% 0; }
.content .member_box .mbm_i_box div { float:left; }
.content .member_box .mbm_i_box .mbmib_subject { width:100%; font-size:15px; font-weight:bold; margin-bottom: 15px; } 
.content .member_box i { padding-right:2%; }
.content .member_box .mbm_i_box .mbmib_input { width:100%; }
.content .member_box .mbm_i_box .mbmib_input input[type=text], .mbmib_input .zip_btn { float:left; }
.content .member_box .mbm_i_box .mbmib_input .zip_btn {margin-left:2%; padding:1% 2.5%; background-color: cadetblue; color:#ffffff;  }   
.content .member_box .mbm_i_box .mbmib_subject .select_domain { font-size: 12px; padding: 1%; }

/*btn box*/
.btn_box { width:30%; margin:2% 0; margin:0 auto;  }
.btn_box input { float:left; width:47%; padding: 3% 0; border:none; color:#ffffff; }
.mb_btn input[type=submit] { background-color: #c51315; margin-right: 5%; }
.mb_btn input[type=button] { background-color: #7d7d7d; }

/*mb_reg_result(회원가입완료)*/
.content .reg_result_top { padding: 3% 0; }
.content .reg_result_middle { padding:2%; margin-bottom: 100vh; }
.content .reg_result_middle p:first-child { margin-bottom: 10px; }
.border_box_1_p3 {border:1px solid #dddddd; padding:3% auto;}

/*mb_order_list*/
.content .member_box .mb_pc_order_middle { padding-bottom: 20px; }
.content .member_box .sub_member { color: gray; padding-bottom: 20px; font-size: 14px; }
.content .member_box .mb_pc_order_middle .bl_list .g_color { color: #6c6a6a; }

/*mb_id_search*/
.find_info { width: 100%; overflow: hidden; }
.fi_top {  background-color: #333; width: 100%; height: 50px; color: white; }
.fi_top h1 { padding-left: 20px; line-height: 46px; }
.find_info form fieldset { padding: 20px; }
input[type="text"] { padding: 5px; }
.e_mail { width: 300px; }
.find_info form .fi_txt { margin-bottom: 15px; }
.find_info form .fi_txt p { margin-bottom: 10px; }
.find_info form .fi_middle .check_btn { padding: 5px; font-size: 14px; background-color: white; border: 1px solid #a29a9a; padding-top: 6.7px; padding-bottom: 6.7px;  }
.find_info form .fi_middle .check_btn:hover { background-color: #f4f4f4; }
.find_info form .fi_middle .email_name { color: #c6c3c3; padding: 5px; }
.find_info form .fi_middle .select_domain { padding-top: 2.5px; padding-bottom: 3px; }

/*point_insert*/
.point_box { width: 99%; margin: 0 auto; border: 1px solid #acacac; padding-bottom: 35px; }
.m10px { margin: 10px; }
.m10px input { color: #b9b9b9; font-size: 14px; border: 1px solid #acacac; }
.p_color { background-color: #f0f0f0; color: #000; padding: 10px; border-bottom: 1px solid #c7c5c5; border-top: 1px solid #c7c5c5; }
.point_box .pb_top { background-color:#333; color: white; padding: 15px; }
.point_box .pb_middle input { width: 100%; }
.point_box .pb_btn a { color: white; padding: 10px; display: inline-block; font-size: 14px; }
.point_box .pb_btn { margin-top: 40px; }
.point_box .pb_btn .happy_user { background-color: #30a5d3; border-radius: 5px; }
.point_box .pb_btn .normal_user { background-color: red; border-radius: 5px; }

/*product_inquiry*/
.product_inquiry .pi_box { padding-left: 20px; }		
.product_inquiry .pi_box .pib_top { margin: 10px 0; }
.product_inquiry .pi_box .pib_top input { margin-right: 10px; }
.product_inquiry .pi_box .pib_middle { margin-bottom: 20px; }
.product_inquiry .pi_box .pib_middle ul { float: left; width: 50%; }
.product_inquiry .pi_box .pib_middle ul li { margin-bottom: 10px; }
.product_inquiry .pi_box .pib_middle ul li p { font-size: 12px; color: #3262f2; word-break: keep-all; }
.product_inquiry .pi_box .pib_middle ul li input { width: 90%; color: #8a8a8a; }

.product_inquiry .pi_box .pib_middle ul .pib_email { width: 90%; }
.product_inquiry .pi_box .pib_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_inquiry .pi_box .pib_bottom .pbi_sub { margin-bottom: 10px; }
.product_inquiry .pi_box .pib_bottom .pbi_sub input { width: 95%; color: #8a8a8a; }
.product_inquiry .pi_box .pib_bottom .pbi_txt textarea { width: 95%; }
.product_inquiry .pi_box .pi_btn { width: 95%; margin: 10px auto 0 0; }
.product_inquiry .pi_box .pi_btn a { display: inline-block; background-color: red; padding: 10px; color: white; border-radius: 5px; font-size: 12px;  }

/*product_review*/
.pir_top,.pir_bottom { margin-top: 20px; }
.pir_bottom img { width: 80px; margin-left: 5px;  }
.pir_bottom .pir_radio { margin: 10px 0; }
.pir_bottom .pir_radio input { margin-right: 5px;  }

/*mb_cart*/
.name_input div { float:left; }
.name_input div:first-child { width:10%; padding:0px; }
.name_input div:first-child input[type=checkbox] { margin-left:10px; }
.name_input div:last-child { width:90%; padding:0px; }
.content .member_box .cart_pc_middle { margin-bottom: 0; }
.board_list .bl_list .cart_product_box ul { float: left; width: 50%; }
.board_list .bl_list .cart_product_box { padding: 10px; }
.board_list .bl_list .cart_product_box .cart_right { width:60%; padding: 0 20px 20px 20px; font-size: 14px; word-break: keep-all; }
.board_list .bl_list .cart_product_box .cart_left { width: 40%; }
.board_list .bl_list .cart_product_box .cart_left li:first-child { width: 9%; }
.board_list .bl_list .cart_product_box .cart_left li:last-child { width: 91%;  }
.board_list .bl_list .cart_product_box .cart_left li:last-child img { width: 55%; padding-top: 4px; }
.cart_right_btn .mb_btn input { width: 80px; margin-right: 10px; background-color: white; border: 1px solid #ddd; padding: 10px; color: rgb(85, 85, 85); }
.cart_right_btn { padding-top: 0; }
.cart_right_btn .mb_btn { padding: 0; }
.cart_right_btn .btn_box { text-align: left; width: 100%;  }
.cart_right_btn .cl_btn .btn_box .empty_btn { margin-right: 0; }
.cart_right_btn .cl_btn {float:left; width:38%;}
.cart_right_btn .cl_btn:last-child {text-align:right;}
.mb_right_info { width: 30%; float: right; text-align: right; }
.mb_right_info ul li { float: left; width: 33%; font-size: 13px; }
.mb_right_info ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.mb_right_info ul li strong { font-weight: 600; }
.cart_right_btn .mb_btn .delete_btn:hover { background-color: red; color: white; }
.cart_right_btn .mb_btn .empty_btn:hover { background-color: #ddd; }
.content .member_box .cart_pc_middle { padding-bottom: 10px; }
.cart_bottom_btn .mb_btn input:first-child { background-color: red; margin-right: 10px; }
.content .board_list .bl_list .cart_bottom_btn { width: 100%; }

/*mb_health_list*/
.member_box .p_paging { margin-top: 30px; margin-bottom: 30vh; }

/*mb_health_detail*/
.content .order_box .obm_left .health_result { padding-top: 0; padding-bottom: 5px; }
.content .order_box .obm_left .obm_i_box .health_input { line-height: 21px; }
.content .order_box .health_obm_right { height: 951px; }

/* 페이징 */
.p_paging {width:50%;margin:0 auto;vertical-align: middle;}
.p_paging .pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.p_paging .pg_page, .pg_current {display:inline-block;padding:5px 10px;color:#000;letter-spacing:0;line-height:1.9em;vertical-align:middle; line-height: 23px;}
.p_paging .pg a:focus, .pg a:hover {text-decoration:none}
.p_paging .pg_page {background:#e4eaec;text-decoration:none}
.p_paging .pg_current {display:inline-block;margin:0 4px 0 0;background:#135b86;color:#fff;font-weight:normal; line-height: 23px;}	
.p_paging .total_count {font-size:20px;font-weight:bold;padding:5px 5px;float:right;}

/*-------------------------------------------------------------------------media---------------------------------------------------------------------------------------------------------------*/
@media (max-width:1220px) {
.fs_22px { font-size: 17px; }
.dw_1200px { width: 90%; }
.wrap header .hd_top ul { width: 90%; }
.wrap header .hd_top ul li a { font-size: 12px; }
.wrap header .hd_middle { width: 95%; }
.wrap header .hd_middle .menu_slide .sub_slide { width: 70%; margin-top: 10%; }
.wrap header .hd_middle .slide_btn { bottom: 10%; }
.wrap header .hd_middle { height: 125px; max-height: 130px; }
.wrap header .hd_middle .logo { margin-top: 39px; }
.wrap header .hd_middle .logo #PC_logo { width: 75%; }
.wrap header .hd_middle .formArea #sch_str { width: 200px; height: 30px; font-size: 13px; padding-left: 0; margin-left: 0; padding-bottom: 5px;}
.wrap header .hd_middle .formArea #sch_submit { width: 40px; height: 30px; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide { width: 86%; max-width: 666px; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide .hm_slide { font-size: 12px; }
/*order*/
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_subject .w20 { width: 48%; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_subject .w19 { width: 23%; } 
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_subject span { display: inline-block; width: 100%; margin-bottom: 5px; }

.wrap footer .ft_center { width: 50%; word-break: keep-all; }
.wrap footer .ft_middle .ft_right { width: 20%; word-break: keep-all; }
.wrap footer .ft_middle .ft_right ul .f22 { font-size: 17px; }
.wrap footer .ft_middle .ft_right ul li:first-child, .wrap footer .ft_middle .ft_right ul li:nth-child(2) { margin-bottom: 5%; }
.wrap footer .ft_center ul li:not(.ft_bottom) { font-size: 12px; }
.wrap footer .ft_middle .ft_left #PC_ftlogo { width: 95%; }

/*health_box*/
.cm_middle .check_btn { width: 16%; }
.health_wrap .health_box .hbl_right { width: 66%; }
.health_wrap .health_box .hbl_right input, .health_wrap .health_box .hbr_right input { font-size: 13px; }

/*board > info_list */
.wrap .contetns .info_list .i_top ul li { font-size: 16px; }
.bg_g td, .bg_w td { font-size: 12px; }

/*mypage*/
.board_list .bl_top .blb_subject, .board_list .bl_list .blb_box { font-size: 13px; }
.content .member_box .mb_middle .mbm_top { font-size: 14px; }
.board_box .board_subject { font-size: 15px; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info .f14 { font-size: 12px; }

}

@media (max-width: 992px) {
.f17 { font-size: 15px; }
/*order*/
.content .order_box .obm_left .obm_i_box .obmib_subject { font-size: 13px; }
.content .order_box .obm_right .obmr_box .obmrb_box .point_use,.content .order_box .obm_right .obmr_box .obmrb_box .pu_input { width: 100%; text-align: center; padding: 8px 0; }
.content .order_box .obm_right .obmr_select .obmrs_pay,.content .order_box .obm_right .obmr_select .obmrs_card { font-size: 11px; }
.content .order_box .obm_right .obmr_btn_box input { font-size: 16px; }
.content .order_box .obm_left .obm_i_box div { font-size: 14px; }

/*order_result*/
.delivery_state_btn { padding-bottom: 8px; }
.content .order_box .obm_left .obm_i_box .obmib_subject { font-size: 13px; }
.board_list .bl_list .blb_box ul li { font-size: 12px; }
.content .order_box .ob_top .obt_subject { font-size: 18px; }
.board_list .bl_top .blb_subject,.board_list .bl_list .blb_box { font-size: 13px; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbbs_f { font-size: 12px; }

/*mypage*/
.content .member_box .mb_middle .mbm_top div { padding: 5px 0; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info .mbmtb_info_div { width: 47%; }
.health_name { width: 30%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info { padding: 10px; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info .mbmtb_info_div { width: 100%; }

/*mb_reg_form*/
.btn_box { margin: 10px auto; }
.content .mb_bottom .f20 { font-size: 16px; }
.btn_box input { padding: 12px 0; }

/*my_cart*/
.cart_bottom_btn { padding: 10px; }
.cart_bottom_btn .mb_btn input { font-size: 13px; }
.mb_right_info ul li { text-align: right; width: 100%; margin-bottom: 5px;  }
.cart_right_btn .cl_btn .btn_box { font-size: 12px; margin: 0; }

/*mb_health_list*/
.board_list .health_bl_list .text_ellipsis { text-overflow: ellipsis; white-space: nowrap;  overflow: hidden; display: block; word-wrap: normal; width: 30%; }
}


@media (max-width:768px) {
.wrap header .header_slide { display: none; }
.wrap header .hd_top { border-bottom: none; }
.wrap header .hd_top ul { display: none; } 
.wrap header .hd_middle .slide_btn { display: none; }
.wrap header .hd_middle { width: 100%; height: 80px; border-bottom: 1px solid #ddd;  }
.wrap header .hd_middle .logo { position: absolute; top: 15%; left: 10%; margin-top: 0; }
.wrap header .hd_middle .logo #PC_logo { display: none; }
.wrap header .hd_middle .logo #M_logo { display: block; }
.wrap header .hd_bottom .hdb_menu .tmenu_slide { display: none; }
.wrap header .hd_bottom { background-color: transparent; position: absolute; top: 20px; left: -5px;  }
.wrap header .hd_bottom .menu_btn { background-color: transparent; color: #000; }
.wrap header .hd_middle .formArea { top: 40%; left: 35%; width:60%; }
.wrap header .hd_middle .formArea #sch_str 
{ padding-left: 0; border: 1px solid #cecece; border-right-color: transparent; width:80%; border-right: none; padding-left: 5px;  }
.wrap header .hd_middle .formArea #sch_submit { border: 1px solid #cecece; border-left-color: transparent; color: rgb(111, 111, 111); border-left: none; }
.contents .ct_inner .product_wrap .title_text h2 { font-size: 20px; }
/*board common btn*/
.wrap .contents .info_list .i_btn div a { font-size: 12px; }
.wrap .info_list .i_top { padding-bottom: 3%; }

/*board > info_view */
.wrap .contents .title_top h2 { font-size: 16px; }
.wrap .contents .title_top { margin-top: 5%; }
.wrap .contents .view_btn a { font-size: 12px; padding: 8px; }
.wrap .contents .title_top .title_middle div:first-child strong,.wrap .contents .title_top .title_middle div:last-child
,.wrap .contents .title_bottom p { font-size: 11px; }

/*board > info_write */
.wrap .contents .write_wrap .i_write .iw_txt { border-bottom: none; }
.wrap .contents .write_wrap .i_write h2 { font-size: 16px; }
.wrap .contents .write_wrap .i_write .f14 { font-size: 12px; }
.iw_table tr .t_color { font-size: 12px; }
.wrap .contents .write_wrap .i_write .mb2 { margin-bottom: 4%; }
.iw_table td input::placeholder { font-size: 12px; }
.wrap .contents .write_wrap .i_write .f14 { font-size: 13px; }
.wrap .contents .write_wrap .i_write .iw_btn input { padding: 2%; }
.wrap .contents .write_wrap .i_write .mt2 { margin-top: 5%; }

/*login*/
.contents .login_wrap .login_box { width: 100%; }
.contents .login_wrap .login_box .logbox_btn {  padding: 0 40px 15px 40px; width: 100%; margin: 0; }

/*content*/
.content .f23 { font-size: 18px; }

/*order.html*/
.order_contents { width: 95%; }
.PC_order { display: none; }
.content .order_box .ob_top .M_order { display: block; }
.board_list .bl_list .blb_box ul li { width: 100%; }
.board_list .bl_list .blb_box { width: 100%; text-align: left; }
.content .board_list .bl_top { border-bottom: 0; padding-top: 5%; border-top: 2px solid #000000; }
.content .board_list .bl_list .blb_box { margin-top: 2%; }
.content .board_list .bl_list .blb_box ul li:first-child { padding-right: 0; text-align: center;}
.content .board_list .bl_list { border-bottom: 2px solid #000000; padding-bottom: 4%; }
.content .order_box .obm_right { box-shadow: none; }
.content .order_box .ob_top .obt_subject {  text-align: center; }
.content .order_contents div { padding-top: 0; }
.content .order_box .obm_right { height: 100%; }
.content .order_box .obm_right .obmr_select .obmrs_pay, .content .order_box .obm_right .obmr_select .obmrs_card { font-size: 14px; padding: 15px; }
.content .order_box .obm_right .obmr_select div { padding: 3%; }
.content .order_box .obm_right .obmr_box .obmrb_box .point_use, .content .order_box .obm_right .obmr_box .obmrb_box .pu_input { width: 50%; }

/*order_result*/
.content .order_box .result_obm_right { height: 100%; } 
.content .order_box .obm_right .obmr_box { padding: 2% 0; }
.content .board_list .bl_list .blb_box img { width: 100%; }
.content .order_box .obm_right .obmr_box .order_resultbox { padding: 3% 2%; }
.content .order_box .result_obm_right { padding-top: 10px; }
.delivery_ex .de_box { margin-bottom: 10px; }
.delivery_state_btn { padding: 3px 5px 5px 5px; }

/*member > mypage*/
.content .member_box .mb_top { padding-top: 5%; }
.PC_board_list { display: none; }
.M_board_list { display: block; }
.board_box .board_subject { border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.content .board_list .bl_list { border-bottom: none; }
.board_box { border: 1px solid #ddd; padding: 15px; background-color: white; margin-bottom: 15px;  }
.content .board_list .bl_list { padding-bottom: 0; padding-top: 0; }
.mbm_middle { margin-top: 20px; }

/*member > mb_reg_result*/
.content .reg_result_top  { font-size: 16px; padding: 5% 0; }
.content .reg_result_middle p { font-size: 14px;  }

/*mb_order_list*/
.content .member_box .sub_member { border-bottom: 1px solid #ddd; padding-top: 0; padding-bottom: 10px; font-size: 12px; }
.mb_M_order_middle { border: 1px solid #ddd; padding: 0 10px 10px 10px; margin-bottom: 33vh; background-color: #f4f4f4; }
.content .member_box .borderTop { border-top: none; }

/*my_cart*/
.board_list .bl_list .cart_product_box ul { float: none; }
.mb_M_order_middle { margin-bottom: 2%; border-top: 1px solid #ddd; }
.board_list .bl_list .cart_product_box .cart_left li:first-child { width: 2%; }
.board_list .bl_list .cart_product_box .cart_left li:last-child ,
.board_list .bl_list .cart_product_box .cart_left { width: 100%; }
.board_list .bl_list .cart_product_box .cart_left li:last-child img { width: 100%; margin-top: 10px; }
.board_list .bl_list .cart_product_box { padding: 0; }
.mb_M_order_middle .bl_list { padding: 10px; }
.board_list .bl_list .cart_product_box .cart_right { padding-left: 0; padding-bottom: 0; width: 53%; }
.cart_blb_box strong { font-weight: 600; }
.cart_bottom_btn { margin-bottom: 20vh; }
.cart_bottom_btn .mb_btn { width: 100%; }
.content .board_list .bl_list .cart_blb_box { margin-top: 10px; }
.cart_bottom_btn { padding: 10px 0; }
.cart_bottom_btn .btn_box input { width: 49%; margin-right: 2%; }
.cart_bottom_btn .btn_box input:last-child { float: right; }
.cart_bottom_btn .mb_btn input:first-child { margin-right: 0; }
.cart_bottom_btn .mb_btn input { margin-right: 0; }
.board_list .bl_list .cart_product_box .cart_right { width: 100%; margin-bottom: 5px;  }
.board_list .bl_list .cart_product_box .cart_right li:first-child span { font-size: 15px; }
.content .mb_M_order_middle .border_B { border-bottom: 2px solid #ddd; padding-bottom: 20px; }


/*mb_health_detail*/
.content .health_order { margin-top: 20px; }
.content .order_box .health_top { border-bottom: 2px solid #333; padding-bottom: 10px; }
.content .order_box .health_obm_right { height: 100%; }
/*mb_health_list*/
.member_box .mb_M_health_middle { border-top: 1px solid #ddd; }


/* footer */
.wrap footer .ft_middle .ft_left #PC_ftlogo { display: none; }
.wrap footer .ft_middle .ft_left #M_ftlogo { display: block; padding: 3% 0; }
.wrap footer .ft_middle .ft_right { display: none; }
.wrap footer .ft_middle { margin-top: 0; padding: 10% 0; }

/* footer 모바일 버전일 때 추가된 html의 css입니다. */
.wrap footer .ft_wrap .ft_middle .ft_mobile_menu a { background-color: white; border: 1px solid #ddd; padding: 5px 15px; font-size: 13px; display: inline-block; }
.wrap footer .ft_middle .ft_left { float: none; }
.wrap footer .ft_middle .ft_left { float: none; width:70%; margin:0 auto; }
.wrap footer .ft_middle .ft_left img { width:100%; }
.wrap footer .ft_center { text-align: center; float: none; width: 100%; }
.wrap footer .ft_center ul li { font-size: 12px; }
.wrap footer .ft_center ul li strong { font-weight: 600; }
.wrap footer .ft_center .ft_bottom { margin-top: 2%; padding-bottom: 3%; }

/* 모바일 버전일 때 추가된 하단 메뉴 html의 css입니다. */
.ft_mobile_menu { display: block; }
.wrap footer .ft_wrap .ft_botmenu { display: block; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #eee; border-top: 1px solid #ddd; }
.wrap footer .ft_wrap .ft_botmenu ul li { float: left; width: 20%; text-align: center; }
.wrap footer .ft_wrap .ft_botmenu ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_wrap .ft_botmenu ul li a { display: block; padding: 10px 0 15px 0; font-size: 20px; color: #555; }

}
@media (max-width:600px) {
.td_none { display: none; }

/*order_result*/
.content .order_box .obm_left .obm_i_box .result_subject { width: 19%; margin-bottom: 15px; }
.content .order_box .obm_left .obm_i_box .result_input { width: 100%; word-break: keep-all; font-size: 13px; }
.content .order_box .obm_left .obm_result { padding: 0; }
.delivery_ex .de_box { font-size: 12px; }
.content .order_box .obm_left .obm_box_result { margin-bottom: 5%; }
}
@media (max-width:500px) {
.wrap .p_paging { margin-top: 5%; }
.wrap .p_paging .pp_wrap a { width: 23px; padding: 3px; font-size: 12px; }
.wrap .p_paging .pp_wrap { width: 70%; margin: 0 auto; }

.wrap header .hd_middle .logo { top: 22%; }
.wrap header .hd_middle .logo #M_logo { width: 75%; }

.fa-chevron-left, .fa-chevron-right { font-size: 40px; }
.slick-dots li { width: 9px; height: 11px; }
.slick-dots li button { width: 7px; height: 7px; padding: 4px; }

.contents .ct_inner .product_wrap .title_text h2 { font-size: 16px; font-weight: 600; }
.contents .ct_inner .product_wrap .product_box .pb_list .pbl_cost { font-size: 12px; }
.wrap footer .ft_wrap .ft_middle .ft_mobile_menu a { font-size: 11px; }

/*board > info_list */
.wrap .contents .info_list .i_top ul { width: 50%; }
.wrap .contents .info_list .i_top ul li { width: 45%; font-size: 14px; }
.wrap .contents .info_list .i_top .it_left { margin-right: 10%; }
.wrap .contents .info_list .bg_g .txt_l a { width: 80px; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.wrap .contents .info_list .bg_w .txt_l a { width: 80px; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/*board > info_view */
.wrap .contents .title_top h2 { font-size: 14px; }
.wrap .contents .view_btn a { font-size: 10px; padding: 5px; }
.wrap .contents .write_wrap .i_write .iw_table table tr td i { font-size: 1px; }
.wrap .contents .write_wrap .i_write .iw_table colgroup col:first-child { width: 25%; }
.wrap .contents .write_wrap .i_write .iw_table colgroup col:last-child { width: 75%; }

/*order*/
.content .order_box .obm_left .obm_i_box .obmib_subject { font-size: 12px; width: 17%; padding-bottom: 10px; }
.content .ob_middle { padding-top: 0; }
.content .ob_middle .obm_order_box { padding-top: 0; }
.content .order_box .obm_left .obm_box_subject { padding-top: 20px; padding-bottom: 10px; } 
.order_contents div { padding-top: 1%; padding-bottom: 2%; }
#mb_zip,#r_zip { width: 65%; }
.content .order_box .obm_left .obm_i_box .obmib_input input[type="text"] { width: 100%; }
.obmib_input textarea { width: 100%; }
.content .order_box .ob_top .obt_subject { font-size: 16px; }
.order_contents { padding-bottom: 0; }
.content .board_list .bl_list .blb_box { font-size: 14px; }
.content .order_box .obm_left .obm_i_box .obmib_input { width: 95%; }

/*order_result*/
.content .order_box .obm_left .obm_i_box .result_subject { margin-bottom: 0; }
.content .board_list .bl_list .blb_box { font-size: 12px; }

/*mypage*/
.content .member_box .mb_middle .mbm_top .mbmt_left { margin-right: 0; border-right: none; }
.content .member_box .mb_middle .mbm_top .mbmt_right { width: 100%; padding-left: 10px; padding-top: 10px; border-top: 1px solid #ddd; }
.caret-up_btn { left: 45%; }
.content .member_box .mb_middle .mbm_top .mbmt_bottom .mbmtb_info .mbmtb_info_div { margin-right: 0; }
.content .member_box .mb_top ul li { padding: 5px; font-size: 11px; }

/*mb_reg_form*/
.content .member_box .mb_top { font-size: 17px; }
.content .member_box .mbm_i_box .mbmib_subject { font-size: 13px; }
.content .member_box .mbm_mb_reg_box .f17 { font-size: 14px; }
.content .mb_bottom .f20 { font-size: 14px; }
.btn_box input { padding: 10px 0; }
.content .member_box .mbm_i_box .mbmib_input .zip_btn { font-size: 12px; padding: 7px; }
.content .member_box .mb_top { padding-bottom: 5%; }
.content .member_box .mbm_i_box .mbmib_input input[type="text"]::placeholder { font-size: 12px; }

/*mb_reg_result*/
.content .reg_result_top  { font-size: 14px; }
.content .reg_result_middle p { font-size: 12px; }

/*my_cart*/
.cart_right_btn .cl_btn { width: 70%; }
.mb_right_info { width: 30%; }
.cart_right_btn .cl_btn .btn_box { font-size: 11px; }
.mb_right_info ul li { font-size: 11px; }

}

@media (max-width:400px) {
.wrap header .hd_middle .logo { left: 13%; }
.wrap header .hd_middle .formArea #sch_str { width: 155px; }
.wrap header .hd_middle .formArea { width: 65%; }

/*board > info_list*/
.wrap .contents .info_list .i_top .it_left { margin-right: 5%; }

.wrap .contents .info_list .i_btn div a { padding: 5px; }
/*board > info_write*/
.wrap .contents .write_wrap .i_write .f14 { font-size: 12px; }
.wrap .contents .write_wrap .i_write .iw_table colgroup col:first-child { width: 30%; }
.wrap .contents .write_wrap .i_write .iw_table colgroup col:last-child { width: 70%; }

/*order.html*/
.content .order_box .obm_left .obm_i_box .obmib_subject { width: 100%; }
.content .board_list .bl_list .blb_box img { width: 100%; }
.content .order_box .obm_right .obmr_box .obmrb_box .obmrbb_price { font-size: 13px; }
.wrap footer .ft_center ul li { font-size: 11px; }

/*order_result.html*/
.content .order_box .obm_left .obm_i_box .result_subject { width: 24%; }

/*mb_reg_form.html*/
.btn_box input { padding: 8px 0; }
.content .member_box .mbm_i_box .mbmib_subject .select_domain { padding: 2px; }


}