/*mb_id_search*/
.find_info { width: 100%; overflow: hidden; }
.fi_top {  background-color: #333; width: 100%; height: 50px; color: white; }
.fi_top h1 { padding-left: 20px; line-height: 46px; }
.find_info form fieldset { padding: 20px; }
input[type="text"] { padding: 5px; }
.e_mail { width: 300px; }
.find_info form .fi_txt { margin-bottom: 15px; }
.find_info form .fi_txt p { margin-bottom: 10px; }
.find_info form .fi_middle .check_btn { padding: 5px; font-size: 14px; background-color: white; border: 1px solid #a29a9a; padding-top: 6.7px; padding-bottom: 6.7px;  }
.find_info form .fi_middle .email_name { color: #c6c3c3; }
.find_info form .fi_middle .select_domain { padding-top: 2.5px; padding-bottom: 3px; }

/*point_insert*/
.point_box { width: 99%; margin: 0 auto; border: 1px solid #acacac; padding-bottom: 35px; }
.m10px { margin: 10px; }
.m10px input { color: #b9b9b9; font-size: 14px; border: 1px solid #acacac; }
.p_color { background-color: #f0f0f0; color: #000; padding: 10px; border-bottom: 1px solid #c7c5c5; border-top: 1px solid #c7c5c5; }
.point_box .pb_top { background-color:#ea6b86; color: white; padding: 15px; }
.point_box .pb_middle input { width: 100%; }
.point_box .pb_btn a { color: white; padding: 10px; display: inline-block; font-size: 14px; }
.point_box .pb_btn { margin-top: 40px; }
.point_box .pb_btn .happy_user { background-color: #30a5d3; }
.point_box .pb_btn .normal_user { background-color: red; }

/*product_inquiry*/
.product_inquiry .pi_box { padding-left: 20px; }		
.product_inquiry .pi_box .pib_top { margin: 10px 0; }
.product_inquiry .pi_box .pib_top input { margin-right: 10px; }
.product_inquiry .pi_box .pib_middle { margin-bottom: 20px; }
.product_inquiry .pi_box .pib_middle ul { float: left; width: 50%; }
.product_inquiry .pi_box .pib_middle ul li { margin-bottom: 10px; }
.product_inquiry .pi_box .pib_middle ul li p { font-size: 12px; color: #3262f2; word-break: keep-all; }
.product_inquiry .pi_box .pib_middle ul li input { width: 90%; color: #8a8a8a; }

.product_inquiry .pi_box .pib_middle ul .pib_email { width: 90%; }
.product_inquiry .pi_box .pib_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_inquiry .pi_box .pib_bottom .pbi_sub { margin-bottom: 10px; }
.product_inquiry .pi_box .pib_bottom .pbi_sub input { width: 95%; color: #8a8a8a; }
.product_inquiry .pi_box .pib_bottom .pbi_txt textarea { width: 95%; }
.product_inquiry .pi_box .pi_btn { width: 95%; margin: 10px auto 0 0; }
.product_inquiry .pi_box .pi_btn a { display: inline-block; background-color: red; padding: 10px; color: white; border-radius: 5px; font-size: 12px;  }

/*product_review*/
.pir_top,.pir_bottom { margin-top: 20px; }
.pir_bottom img { width: 80px; margin-left: 5px;  }
.pir_bottom .pir_radio { margin: 10px 0; }
.pir_bottom .pir_radio input { margin-right: 5px;  }